.counter {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center; }
  .counter__button {
    border: 0;
    font-size: 20px;
    cursor: pointer; }
  .counter__label {
    font-size: 25px; }
