.counter {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;

    &__button {
        border: 0;
        font-size: 20px;
        cursor: pointer;
    }
    
    &__label {
        font-size: 25px;
    }
}