.App {
  text-align: center; }
  .App__logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none; }
  .App__header {
    padding: 10px;
    min-height: 70px; }
    .App__header h1 {
      font-size: 20px;
      font-weight: normal; }
  .App__body {
    background-color: #282c34;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white; }
    .App__body span {
      display: flex;
      margin: 10px 0; }
      .App__body__input {
        display: flex;
        margin: 20px 0;
        justify-content: space-between;
      }
      .App__body__input input {
        width: 60%;
      }
  .App__link {
    color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
