.App {
    text-align: center;

    &__logo {
        animation: App-logo-spin infinite 20s linear;
        height: 40vmin;
        pointer-events: none;
    }

    &__header {
        padding: 10px;
        min-height: 70px;

        h1 {
            font-size: 20px;
            font-weight: normal;
        }
    }

    &__body {
        background-color: #282c34;
        min-height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
        
        span {
            display: flex;
            margin: 10px 0;
        }
    }

    &__link {
        color: #61dafb;
    }
}
  
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  